RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.hostingjoy\.com [NC]
RewriteRule ^(.*)$ https://hostingjoy.com/$1 [L,R=301]

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://hostingjoy.com/$1 [L,R=301]